/* ---------------index.html 版心内容----------------- */

#main-content {
    padding-bottom: 40px;
    min-width: 1180px;
    /* background: #fafafc; */
    background: #fff;
}

.indexbanner {
    position: relative;
    margin-top: 107px;
    min-width: 1080px;
}

.inner100 {
    width: 100%;
}

.splitview {
    height: 530px;
    min-height: 450px;
    max-height: 550px;
    overflow: hidden;
    background: linear-gradient(-25deg, #0096a0 50%, #1eb4be 100%);
    background: -webkit-linear-gradient(115deg, #0096a0 50%, #1eb4be 100%);
    background: #0096a0;
}

.splitview * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.indexbanner .bannerdes {
    position: absolute;
    bottom: 196px;
    left: 50%;
    margin-left: -312px;
    display: block;
    width: 625px;
    height: 90px;
}

.splitview ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    height: 100%;
}

.splitview ul li.mermaid {
    background: #00b2a5;
}

.splitview ul li {
    position: relative;
    float: left;
    margin: -5% 0;
    padding: 0;
    width: 20%;
    height: 130%;
    overflow: hidden;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    box-shadow: 0 0 35px rgba(0, 0, 0, .5);
    background-color: #f3f3f3;
}

.splitview ul li:after {
    position: absolute;
    content: '';
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: #002832;
    opacity: .4;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.splitview ul li:hover:after {
    display: none;
}

.splitview ul li img {
    padding: 0 0 25% 0;
    width: auto;
    height: 100%;
    transform: rotate(-15deg) translateX(-24%);
    -webkit-transform: rotate(-15deg) translateX(-24%);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
}

.splitview ul li:hover img {
    -webkit-transform: rotate(-15deg) translateX(-24%) scale(1.05);
    transform: rotate(-15deg) translateX(-24%) scale(1.05);
}

.indexbtncon {
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -110px;
    width: 220px;
    border-radius: 22px;
    text-align: center;
    overflow: hidden;
}

.indexbtncon .indexbannerbtn {
    display: block;
    width: 50%;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    background: #f3efee;
    color: #96969b;
}

.bordergray {
    border-right: 1px solid #d2d2d7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.indexbtncon .indexbannerbtn:hover {
    background: #ff6478;
    color: #fff;
    box-shadow: 2px 8px 9px -6px #bc4958 inset;
}

.indexprotit {
    margin: 80px 0 30px;
    color: #32323c;
    text-align: center;
}

.indexprotit span {
    display: block;
    font-weight: bold;
    line-height: 28px;
}

.hotsub {
    margin: 0 -12px;
}

.hotsub .hotsubli {
    float: left;
    margin: 0 10px;
    position: relative;
}

.hotsubli .hotsubimg {
    width: 256px;
    height: 256px;
    display: block;
}

.hotsubdes {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    width: 236px;
    height: 0;
    background: rgba(50, 50, 60, .7);
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    transition: all linear 150ms;
    -webkit-transition: all linear 150ms;
}

.indexprotit {
    margin: 80px 0 30px;
    color: #32323c;
    text-align: center;
}

.indexprotit span {
    display: block;
    font-weight: bold;
    line-height: 28px;
}

.designersub {
    padding: 45px 0;
    width: 100%;
    background: #f2f2f6;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    height: 449px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide-visible {
    opacity: 1;
}

/* .swiper-slide,
.swiper-button-disabled {
    opacity: .2;
} */

.designersubli,
.designerpro {
    width: 340px;
}

.designersubli {
    float: left;
}

.swiper-slide {
    position: relative;
    float: left;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
}

.designersubhead {
    position: relative;
}

.designersubhead,
.designersubhead .designerinfo {
    display: block;
    height: 186px;
    width: 340px;
}

.designersubhead .designerinfo {
    position: absolute;
    top: 0;
    left: 0;
}

.designerimg {
    margin: 32px 0 0 126px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
}

.designerimg,
.designertit,
.designerproname,
.designerpromoney {
    display: block;
}

.designerimg img,
.designerproimg {
    width: 100%;
}

.designertit {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 34px;
}

.designerpro {
    border-bottom: 1px solid #d2d2d7;
    background: #fff;
}

.designerproli:first-child {
    border-right: 1px solid #d2d2d7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.designerproli {
    float: left;
    width: 50%;
    font-size: 14px;
    color: #64646e;
    text-align: center;
}

.designerproname,
.designerpromoney {
    padding: 0 10px;
    line-height: 20px;
    width: 150px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.designerpromore {
    display: block;
    margin-right: 20px;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    color: #96969b;
    background: #fff;
}

.arrowleft {
    margin-top: 9px;
    width: 16px;
    height: 16px;
    background-position: 0 -178px;
    opacity: .7;
}

/* .swiper-button-disabled {
    cursor: not-allowed;
}*/

.swiper-button-prev {
    right: 0;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-position: 0 0;
}

.swiper-button-next,
.swiper-button-prev {}

.designersubul li {
    width: 360px;
}

.swiper-button-prev.prevBtn,
.swiper-button-next.nextBtn {
    /* background: #000; */
    /* width: 20px; */
    position: absolute;
    top: -32px;
    left: auto;
    bottom: auto;
    width: 22px;
    height: 22px;
    background-image: url(../images/index/jiantou.svg);
    background-size: cover;
    background-position: 0 0;
}

.swiper-button-next {
    right: 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.adcon {
    margin: 45px -10px;
}

.adcon .hotsubli {
    margin: 0 10px;
}

.adcon .hotsubli .hotsubimg {
    width: 528px;
    height: 318px;
}

.adcon .adlast .hotsubimg {
    width: 1080px;
}

.hotsellcon {
    margin: 0 -12px;
}

.hotsellcon .hotsellconli {
    float: left;
    margin: 0 10px 20px;
    width: 254px;
    border: 1px solid #e7e7e7;
}

.hotsellconli .hotadimgone {
    width: 100%;
    height: 694px;
}

.hotpro {
    position: relative;
    display: block;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 5px;
}

.hotpro,
.hotproimg {
    width: 254px;
    height: 254px;
    overflow: hidden;
}

.hotproimgy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    /*鼠标滑动到每个图片的时候display:block*/
}

.normalprtit {
    color: #000;
    height: 30px;
    line-height: 30px;
}

.normalprtit,
.normaldescon {
    margin: 0 10px 4px;
}

.normalt,
.normalmoney {
    display: block;
    height: 30px;
    overflow: hidden;
}

.normalt {
    width: 140px;
    font-size: 14px;
    color: #32323c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.normalt,
.normaldes {
    width: 140px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.normalprtit .normalmoney {
    font-size: 18px;
    width: 92px;
    text-align: right;
    color: #32323c;
}

.normaldes {
    color: #96969b;
    height: 38px;
}

.buybtn {
    margin: 3px 0 0;
    padding: 4px 12px;
    background: #ff6478;
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
}

.hotsellcon .hotadimgtwo,
.hotsellconli .hotadimgtwoimg {
    width: 530px;
    height: 336px;
}

.zxloading {
    height: 50px;
    width: 1080px;
    margin: 0 auto;
    border-bottom: 1px solid #dadada;
    text-align: center;
}

.zxloading {
    display: none;
    /*图片加载不出来时加载的loading图片*/
}

.zxloading span {
    font-size: 14px;
    color: #32323c;
    background: url(../images/index/zxgif.gif) no-repeat left center;
    padding: 20px 0;
    padding-left: 30px;
}

.js-newSuggestProduct {
    position: relative;
    display: block;
    left: 50%;
    margin: 20px 0 0 -92px;
    width: 184px;
    height: 28px;
    line-height: 28px;
    background: #64646e;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}

.morespan {
    position: absolute;
    margin-left: 50px;
    display: block;
    width: 84px;
    background: #64646e;
    text-align: center;
    z-index: 2;
}

.doticon {
    position: absolute;
    top: -5px;
    margin-left: 26px;
    display: block;
    width: 131px;
    overflow: hidden;
}
